
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutMe</h1>

<!--Ordered List Example-->
<p>Hobbies (ordered list)</p>
<ol>
    <li>Gym</li>
    <li>Hiking</li>
    <li>Building Computers</li>
    <li>Swimming</li>
    <li>Video Games</li>
</ol>

<br />

<p>Interests (unordered list)</p>
<ul>
    <li>Collecting Card Decks</li>
    <li>Shoe Colletion</li>
    <li>Learning new Gym Workouts</li>
</ul>

