
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutMe</h1>

<!--Ordered List Example-->
<p>Hobbies (ordered list)</p>
<ol>
    <li>Hobbies 1</li>
    <li>Hobbies 2</li>
    <li>Hobbies 3</li>
    <li>Hobbies 4</li>
    <li>Hobbies 5</li>
</ol>

<br />

<p>Interests (unordered list)</p>
<ul>
    <li>Interest 1</li>
    <li>Interest 2</li>
    <li>Interest 3</li>
    <li>Interest 4</li>
    <li>Interest 5</li>
</ul>

