@*
    this is a razor page comment
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p> Purpose: is learning about Views/Developer etc. Developers Name: Isaac Cruz. </p>
